* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}
body {
    background: #000;
    min-height: 200vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}
.b {
    float: right;
    justify-content: center;
    right: 15%;
    top: 25%;
    position: absolute;
}
.a {
    float: left;
    justify-content: center;
    left: 15%;
    top: 35%;
    position: absolute;
    width: 43%;
    color: white;
    font-size: 25px;
}
.ablack {
    float: left;
    justify-content: center;
    left: 15%;
    top: 35%;
    position: absolute;
    width: 43%;
    color: black;
    font-size: 25px;
}
.h {
    float: top;
    justify-content: center;
    left: 25%;
    right: 50%;
    top: 15%;
    position: absolute;
    width: 43%;
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.h1 {
    float: top;
    justify-content: center;
    left: 25%;
    right: 50%;
    top: 27%;
    position: absolute;
    width: 43%;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.projects {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("images/backgrounds/cave.png") fixed;
    background-size: cover;
}
.toastclient {
    float: left;
    justify-content: center;
    left: 15%;
    top: 10%;
    position: absolute;
    width: 50%;
    color: white;
    font-size: 25px;
}
.toastclient h {
    font-weight: bold;
    font-size: 40px;
}
.toastclient a {
    text-decoration: none;
    transition: 0.5s;
}
