* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    background-image: url(/gallery/background2.png);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}
.header {
    padding: 30px;
    text-align: left;
    width: 50%;
    /*background: white;*/
}
.header h1 {
    font-size: 50px;
}
.header p {
    font-size: 20px;
}